<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage3.master.cs" Inherits="MasterPages_MasterPage3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PUSKUH</title>
    <link href="../puskuh/css/dropdown/dropdown.css" media="all" rel="stylesheet" type="text/css" />    <link href="../puskuh/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="../puskuh/css/dropdown/themes/default.ultimate.css" media="all" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' href='../css/menu.css' />
    <link rel='stylesheet' type='text/css' href='../css/tanfa.css' />
    <link rel='stylesheet' type='text/css' href='../css/commons.css' />
    <link rel="STYLESHEET" type="text/css" href="../JavaScript/codebase/dhtmlxtabbar.css" />
    <link rel="STYLESHEET" type="text/css" href="../JavaScript/codebase/dhtmlxcalendar.css" />
    <link rel="STYLESHEET" type="text/css" href="../JavaScript/codebase/dhtmlxgrid.css" />
    <link rel="stylesheet" type="text/css" href="../JavaScript/codebase/skins/dhtmlxgrid_dhx_skyblue.css" />
    <link rel="stylesheet" type="text/css" href="../JavaScript/codebase/skins/dhtmlxaccordion_dhx_blue.css" />
   
    <style type="text/css">
        .tdinfo1
        {
        	width:45%; background-color:lightgrey;
        	cellpadding:3px;
        }
        .tdinfo2
        {
        	cellpadding:3px;
        	font-size: small;
        }
   </style>
    <script type="text/jscript" language="javascript" src="../puskuh/js/jquery/jquery.js"> </script>
    <script  src="../JavaScript/lookup.js" type="text/javascript"></script>
    <script  src="../JavaScript/commons.js" type="text/javascript"></script>

    <script type="text/javascript">        djConfig = { parseOnLoad: true }</script>

    <script type="text/javascript" language="javascript">
        try
        {
//            document.getElementById('lookup').style.ma 
//            screen.availHeight
            //alert(screen.availHeight); alert(screen.availWidth); alert(screen.height); alert(screen.width);
        }
        catch(e)
        {
            alert(e.description);
        }
    </script>

    <script  src="../JavaScript/codebase/dhtmlxcommon.js" type="text/javascript"></script>
   
    <script src="../JavaScript/dhtmlxSuite/dhtmlxTabbar/codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxTabbar/codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxCalendar/codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxAccordion/codebase/dhtmlxaccordion.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxAccordion/codebase/dhtmlxcontainer.js"type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxgrid.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/excells/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/dhtmlxlayout.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxLayout/codebase/dhtmlxcontainer.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/excells/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script  src="../JavaScript/dhtmlxSuite/dhtmlxGrid/codebase/ext/dhtmlxgrid_srnd.js" type="text/javascript"></script>
    <script  src="../JavaScript/dhtmlxSuite/dhtmlxGrid/codebase/ext/dhtmlxgrid_filter.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/ext/dhtmlxgrid_pgn.js" type="text/javascript"></script>
    <script  src="../JavaScript/dhtmlxsuite/dhtmlxtoolbar/codebase/dhtmlxToolbar.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/ext/dhtmlxgrid_group2.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxchart/codebase/dhtmlxchart.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxCombo/codebase/dhtmlxcombo.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/ext/dhtmlxgrid_nxml.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/dhtmlxwindows.js" type="text/javascript"></script>
    <script src="../JavaScript/dhtmlxSuite/dhtmlxWindows/codebase/dhtmlxcontainer.js" type="text/javascript"></script>
    <script  src="../JavaScript/dhtmlxSuite/dhtmlxCombo/codebase/ext/dhtmlxcombo_extra.js"></script>


    <script  src="../JavaScript/codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/dhtmlxaccordion.js" type="text/javascript"></script>
    <script src="../JavaScript/codebase/dhtmlxcontainer.js"type="text/javascript"></script>
    <script  src="../JavaScript/codebase/dhtmlxgrid.js" type="text/javascript"></script>        
    <script  src="../JavaScript/codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/excells/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script  src="../JavaScript/codebase/ext/dhtmlxgrid_srnd.js" type="text/javascript"></script>

    <script  src="../puskuh/js/fushioncharts/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script  src="../puskuh/js/fushioncharts/FusionCharts.js" type="text/javascript"></script>

</head>
<body style="background-color: #f0f8ff;">
    <form id="form1" runat="server" style="height:100%">
    <div id="backLookup" style="background-image: url(../img/backGroundGelap.png); width: 0px; height: 0px; visibility: visible; position: relative; z-index: -1;"></div>
    <div id="lookup" style="width: 0px; height: 0px; visibility: hidden; 
    -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border: 1px solid #000;">
        <div id="judul" style="background-color: #ababab; vertical-align: middle; position: relative; height: 25px;
        -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
        margin-left: 0px; padding-left: 10px; padding-right: -10px;">
        </div>
        <div id="contentLookup" style="vertical-align: middle; position: relative; height: 265px; margin-top: 5px; margin-left: 5px; margin-right: 5px;">
            <div style="padding-top: 5px; padding-left: 5px;">
                <input type='text' id='lookupKey' value='' onkeypress="enterPressed(event,'lookupSearch(document.getElementById(\'lookupKey\').value);');" />&nbsp;&nbsp;
                <input type='button' onclick="lookupSearch(document.getElementById('lookupKey').value);" value='Cari' />
                &nbsp;&nbsp;<input type="button" value="Tutup" onclick="hideLookup('lookup');" />
            </div>
            <div id="gridLookup" style="width:100%;height:228px;background-color:white;"></div>
        </div>
    </div>
    <div id="loadDiv" style="width: 0px; height: 0px; visibility:hidden;">
        <img src="../img/circle.gif" alt="Loading..." style="position:relative;" />
    </div>
<div id="page-wrap">
        <div id="top-bar">			<div id="right-side">							</div>		</div>
		
		<div id="zone-bar">
    <ul id="nav" class="dropdown dropdown-horizontal">
        
	        <li id="n-awal"><a href="../webpuskuh/Pages/home.aspx">Home</a></li>
	        <li id="n-logout"><a href="../webpuskuh/logout.aspx">Logout</a></li>
      
    </ul>
</div>



       <div id="main-content">
	           <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
	           </asp:contentplaceholder>
       </div>
</div>
   <div id="footer">			&copy;2014 <a>PUSKUH</a>		</div>
    </form>
</body>
</html>
